html, body {
    min-height: 100vh;
    background-color: white;
}

a {
    text-decoration: none;
}

.bg-wheat {
    background-color: #F9E0BB;
}

.btn-darkbrown {
    background-color: #884A39;
    color: #F9E0BB;
    min-width: 5rem;
    text-decoration: none;
}

.btn-darkbrown:hover {
    transform: scale(1.1);
}

.text-navbar-title {
    color: #884A39;
    font-weight: 1000;
}

.title {
    font-size: 2.5rem;
}

.authorName {
    color: #4e555b;
    font-size: 2rem;
}

.lowerRightFixedButton {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    height: 10rem;
    width: 10rem;
    font-size: 85px;
    border-radius: 100px;
}

.info {
    font-size: 1rem;
    color: #4e555b;
}

.bookList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 1.5rem;
}

.bookCard {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 250px;
    cursor: pointer;
}

.bookCard:hover {
    transform: scale(1.1);
}

.bookCover-sm {
    height: 280px;
    max-width: 100%;
}

.bookCover-md {
    height: 350px;
    max-width: 100%;
}